<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Carpinteria es un gran lugar para realizar todo tipo de actividades, consulte aquí algunas de ellas.">
	<meta name="keywords" content="actividades, cabañas, alojamiento, turismo, san luis, carpinteria, argentina">
	<meta name="author" content="Flavia Licropani">
	<title> Las Cabañitas - Actividades </title>
	<link class="rounded-circle" rel="shortcut icon" href="../img/favicon.svg">
	<!-- mi css -->
	<link rel="stylesheet" href="../css/main.css">
	<!-- CSS bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
	<div id="div" class="text-center">
		<a class="text-decoration-none" href="http://www.whatsapp.com" target="_blank">	
			<p class="mb-0">Contacto 011-5856-5475</p>
		</a>
	</div>
	 <nav id="nav" class="navbar navbar-expand-sm py-0 container-fluid">
    <div class="container-fluid">
      <a class="navbar-brand" href="../index.html">
		    <img src="../img/logo.svg" alt="logo de las cabanitas" > 
			</a>
      <button class="navbar-toggler me-3" 
      type="button" 
    data-bs-toggle="collapse" 
    data-bs-target="#navbarToggleExternalContent" 
    aria-controls="navbarToggleExternalContent"
    aria-expanded="false" 
    aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
		 <div class="d-flex-md justify-content-end collapse navbar-collapse" id="navbarToggleExternalContent">
        <ul class="navbar-nav fw-bold">
          <li class="nav-item">
            <a class="nav-link" href="../views/nosotros.html">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/ubicacion.html">Ubicación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/actividades.html">Actividades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/contacto.html">Contacto</a>
          </li>
        </ul>
    </div>
     </div>
  </nav>
	<!-- ends nav -->
	<header class="text-center">
		<h1 id="h1">LAS CABAÑITAS</h1>
		<hr id="hr">
		<h2>ACTIVIDADES</h2>
	</header>
	<!-- ends header -->
	<main class="recorte-1200 row pt-2 px-lg-5">

		<p id="p" class="text-center px-5">Podrás realizar diferentes tipos de actividades teniendo la opción de ser tu propio guía, o realizarlas con vaqueanos de la zona o a través de alguna Empresa de Turismo.</p>

<div class="card container-fluid my-3 px-0 mt-lg-5" style="width: 28rem;">
  <img src="../img/bike.webp" class="card-img-top" alt="personas montando bicicletas">
  <div class="card-body">
    <h5 class="card-title fw-bold">Mountain Bike</h5>
    <p id="card-text" class="card-text text-center my-3 mx-2">Existen distintos circuitos en la Villa para poder realizar esta actividad, uno de ellos es el Circuito Eliseo Mercau, que se encuentra en el Camping Municipal. Merlo organiza durante todo el año competencias deportivas de ciclismo de montaña, una de ellas es Adventure Bike, una competencia de aventura, resistencia, cooperación y orientación por la sierra de los Comechingones.</p>
  </div>
</div>

<div class="card container-fluid my-3 px-0 mt-lg-5" style="width: 28rem;">
  <img src="../img/rappel.webp" class="card-img-top" alt="personas escalando una montaña">
  <div class="card-body">
    <h5 class="card-title fw-bold">Rappel</h5>
    <p id="card-text" class="card-text text-center my-3 mx-2">Se denomina así al descenso con soga desde la cima de una quebrada en la sierra hasta la base. Se realiza con equipo especial, supervisado por baqueanos especializados en esta actividad. Si bien la Villa de Merlo tiene distintos lugares desde donde se puede realizar esta actividad, los más comunes son El Salto de Tabaquillo y El Chorro de San Ignacio en Villa Larca.</p>
  </div>
</div>

<div class="card container-fluid my-3 px-0 mt-lg-5" style="width: 28rem;">
  <img src="../img/trekking.webp" class="card-img-top" alt="personas circulando por un cendero">
  <div class="card-body">
    <h5 class="card-title fw-bold">Trekking</h5>
    <p id="card-text" class="card-text text-center my-3 mx-2">Recorrido a pie por senderos no tradicionales por lo general en zona de montañas. Requiere vencer distintos niveles de dificultad dependiendo del circuito a realizar. La Villa de Merlo se caracteriza por tener una topografía muy especial, que es ideal para la práctica de esta modalidad donde se combinan el senderismo, trekking y escalada en roca.</p>
  </div>
</div>

<div class="card container-fluid my-3 px-0 mt-lg-5" style="width: 28rem;">
  <img src="../img/recreacion.webp" class="card-img-top" alt="imagen del centro de merlo">
  <div class="card-body">
    <h5 class="card-title fw-bold">Recreación</h5>
    <p id="card-text" class="card-text text-center my-3 mx-2">San Luis cuenta con una gran variedad gastronómica, productos regionales y artesanías de la regíón. Villa de Merlo posee dos casinos a los cuales podes visitar, para jugar, comer o bailar.</p>
  </div>
</div>
		
	</main>
	<!-- ends main -->
	<footer id="pie" class="pt-5">
		
		<ul>
			<li>
				<a href="../index.html">
				<img class="rounded-circle footer-img" src="../img/favicon.svg" alt="favicon de las cabanas">
			</a>
		</li>
			<li>Complejo La Belen</li>
			<li>Ruta Provincial 1, Km 11</li>
			<li>Carpintería, San Luis, Argentina</li>
			<li>
				<a class="text-decoration-none" href="https://wa.me/01158565475" target="_blank" >
					<img src="../img/whatsapp.svg" alt="logo de whatsapp">
					</a>
					
				<a class="text-decoration-none" href="contacto.html" target="_blank" >
					<img src="../img/mensaje.svg" alt="logo de correo electronico">
					</a></li>
				</ul>
				
	</footer>
	<!-- ends footer -->
	<div>
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#273036" fill-opacity="1" d="M0,256L26.7,229.3C53.3,203,107,149,160,112C213.3,75,267,53,320,48C373.3,43,427,53,480,96C533.3,139,587,213,640,240C693.3,267,747,245,800,218.7C853.3,192,907,160,960,138.7C1013.3,117,1067,107,1120,112C1173.3,117,1227,139,1280,128C1333.3,117,1387,75,1413,53.3L1440,32L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z"></path></svg>
	</div>
	<!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


</body>
</html>